JWT_SECRET=mohsinshanto_Q9v!7Lx@2Nc#8Tf$4Wp&Zr1Hs%6Km!Dd
DB_DSN=username:password@tcp(127.0.0.1:3306)/ecommerce?charset=utf8mb4&parseTime=True&loc=Local
FRONTEND_ORIGINS=http://localhost:3000,http://192.168.0.109:3000
TYPESENSE_PROTOCOL=http
TYPESENSE_HOST=localhost
TYPESENSE_PORT=8108
TYPESENSE_API_KEY=replace_with_your_typesense_api_key
TYPESENSE_PRODUCTS_COLLECTION=products
